body{
    padding: 0;
    margin: 0;
    background-color: #FAFAF8
}

.Header{
    height: 5.8rem;
    box-shadow: 1px 0px 10px rgb(126, 124, 124);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.Img-chef-header{
    width: 6.3rem;
    object-fit: cover;
}

.Chef-text-header{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif ;
    padding-right: 6.6rem;
}

.AddIngredient-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    margin-top: 1rem;
}

.AddIngredient-search{
    width: 38rem;
    height: 1.8rem;
    border-radius: 10px;
    font-size: 0.9rem;
    border: none;
    outline: 1px solid rgb(136, 135, 135);
}

.AddIngredient-button{
    height: 1.8rem;
    border: none;
    background-color:black;
    color: white;
    border-radius: 14px;
    margin-left: 0.9rem;
    font-size: 0.8rem;
    font-weight:400;
}
.AddIngredient-button:hover{
    background-color:rgb(53, 53, 53);
}
.AddIngredient-button:active{
    background-color:black;
}
.info-Container{
    display: flex;
    align-self: center;
    justify-self: center;
    padding-right: 0.5rem;
    margin-top: 1rem;
}
.info-text{
    font-size: 1.1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}



.Lista-Container{
    display: flex;
    width: fit-content;
    padding-left: 6vw;
    padding-right: 6vw;
    flex-direction: column;
    margin-top: 2rem;
}
.Lista-text{
    font-size: 1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
.Lista-content{
    margin-left: 8%;
}
.List-item{
    font-size: 1.3rem;
    margin-top: 0.4rem;
    font-family:Georgia, 'Times New Roman', Times
}